/*
	NanoBlogger Clean
	Simple 2 column layout
*/

body {
	font: 12px/1.5 verdana, arial, sans-serif;
	background:#FFF;
	margin:0;
	padding:0;
}

a 		{ color: #003365; text-decoration: none; }
a:link		{ color: #003366; text-decoration: none; }
a:visited	{ color: #003366; text-decoration: none; }
a:active	{ color: #999999;  }
a:hover		{ color: #999999;  }

h1 {
	margin-top: 25px;
	margin-bottom: -0.25em;
	padding-top: 10px;
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-size:x-large;
	}

h2 {
	color: #666;
	margin-bottom: 1.5em;
	padding: 0;
	text-align: center;
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-size: large;
	font-weight: bold;
	}

h3 {
	margin-top: 1.5em;
	margin-bottom: -0.75em;
	padding: 0;
	color: #666;
	font-size: large;
	}

h4, h5, h6 {
	margin-top: 1.5em;
	margin-bottom: -0.75em;
	font-size: x-small;
	}


blockquote {
	background-color:#EEE;
	padding:2mm;
	border-left:5px solid #BBB;
}

img {
	border: 0;
}

pre {
	overflow:auto;
	background-color:#EEE;
	padding:2mm;
	border-top:2px solid #999;
	border-left:2px solid #999;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
}

#banner {
	margin:0;
	padding:0;
	margin-top:0;
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	background-color: #FFF;
	color: #333;
	font-size:large;
	font-weight:normal;
	text-align:left;
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
	padding:15px;
}

#banner h1 {
	margin:0;
	padding:0 0 0 10px;
	font-size:x-large;
}

#banner a,
#banner a:link,
#banner a:visited,
#banner a:active,
#banner a:hover {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-size:x-large;
	color: #333;
	text-decoration:none;
}

.description {
	color: #333;
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-size:small;
	font-weight:bold;
	text-transform:lowercase;
	padding:0 0 0 10px;
}

#content {
	margin:0;
	padding:0;
	float:left;
	margin-right:210px;
	background-color:#FFF;
}

#container {
	margin:0;
	padding:0;
	background-color:#FFF;
}

#links {
	margin:0;
	padding:0;
	width:204px;
	position:absolute;
	right:0;
	background-color:#FFF;
	border:1px solid #FFF;
	border-right: 1px dotted #999;
	padding:15px 0 15px 0;
}

#footer {
	margin:0;
	padding:0;
	clear:both;
	background-color:#999999;
	border-top:1px dotted #999;
	border-bottom:1px dotted #999;
}

.blog {
	margin:0;
	padding:0;
	padding:15px;
}

.archives {
	margin:0;
	padding:0;
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	color:#333;
	font-size:small;
	font-weight: normal;
	padding:15px;
}
.blogbody {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	color:#333;
	font-size:medium;
	font-weight:normal;
	line-height:120%;
}

.blogbody a,
.blogbody a:link,
.blogbody a:visited,
.blogbody a:active,
.blogbody a:hover {
	font-weight:normal;
	text-decoration:underline;
}

.title {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-size:medium;
	color: #666;
	margin-bottom:15px;
}

#menu, .menu {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-size:small;
	margin-top:25px;
	margin-bottom:25px;
	text-align:center;
}

.date {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-size:large;
	color: #333;
	border-bottom:1px solid #999;
	margin-bottom:10px;
	font-weight:bold;
	line-height: 1.7em;
	text-align:left;
}

.posted {
	font-family: verdana, arial, sans-serif;
	font-size:x-small;
	color:#000000;
	margin-bottom:25px;
}

.articleshead {
	color: #666600;
	font-family: verdana, arial, sans-serif;
	font-weight:bold;
	text-transform:uppercase;
	}

.calendar {
	color: #666;
	padding:2px;
	text-align:center;
	font-family: verdana, arial, sans-serif;
	font-size:x-small;
	font-weight:normal;
	}

.calendar table {
	border-left:15px solid #FFF;
	border-right:15px solid #FFF;
}

.calendar a,
.calendar a:link,
.calendar a:active,
.calendar a:hover {
	font-weight:bold;
	text-decoration:underline;
}

.calendarhead {	
	color: #666600;
	padding:2px 15px 2px 15px;
	border-left:15px solid #FFF;
	border-right:15px solid #FFF;
	text-align:center;
	font-weight:bold;
	letter-spacing:0.2em;
	text-transform:uppercase;
	border-bottom:1px solid #999;
	}

.calendarhead a,
.calendarhead a:link,
.calendarhead a:visited {
	text-decoration:none;
	}
.calendarhead a:hover {
	text-decoration:underline;
	}

.calendarday {
	font-weight:bold;
	text-align:center;
}

.side {
	color:#333;
	margin:0;
	padding:0;
	padding:2px 15px 2px 15px;
	font-family: verdana, arial, sans-serif;
	font-size:x-small;
	font-weight:normal;
	line-height:150%;
}

.sidetitle {
	color: #666600;
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-size:small;
	font-weight:normal;
	padding:2px;
	margin-top:10px;
	letter-spacing:0.1em;
	border-bottom:1px dotted #999;
	border-left:15px solid #FFF;
	border-right:15px solid #FFF;
	text-align:center;
	text-transform:uppercase;
}

.syndicate {
	font-family: verdana, arial, sans-serif;
	font-size:x-small;
	color:#666;
	background-color:#EEE;
	margin-top:10px;
	padding:2px 15px 2px 15px;
	border-left:15px solid #FFF;
	border-right:15px solid #FFF;
	line-height:150%;
	text-align:right;
}

.feed-small {
	height: 14px;
	padding-left: 15px;
	background: url('../images/feed-icon-14x14.png') no-repeat 0% 50%;
}

.powered {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-size:x-small;
	line-height:150%;
	background-color:#EEE;
	color:#666;
	padding:2px 15px 2px 15px;
	border-left:15px solid #FFF;
	border-right:15px solid #FFF;
	text-align:center;
}

.comments-body {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	color:#666;
	font-size:small;
	font-weight: normal;
	line-height: 120%;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px dotted #999;
}

.comments-post {
	font-family: verdana, arial, sans-serif;
	color:#666;
	font-size:x-small;
	font-weight: normal;
}

.trackback-url {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	color:#666;
	font-size:small;
	font-weight: normal;
	line-height: 150%;
	padding:5px;
	border:1px dotted #999;
}

.trackback-body {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	color:#666;
	font-size:small;
	font-weight: normal;
	line-height: 120%;
	padding-bottom: 10px;
	padding-top: 10px;
	border-bottom: 1px dotted #999;
}

.trackback-post {
	font-family: verdana, arial, sans-serif;
	color:#666;
	font-size:x-small;
	font-weight: normal;
}

.comments-head {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-size:small;
	color: #666;
	border-bottom: 1px solid #999;
	margin-top:20px;
	font-weight: bold;
}

#banner-commentspop {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	color:#FFF;
	font-size:large;
	font-weight: bold;
	border-left: 1px solid #FFF;
	border-right: 1px solid #FFF;
	border-top:1px solid #FFF;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.intro {
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	border-bottom: 1px solid #999999;
	background-color:#FFF;
	color:#333;
	font-size:small;
	font-weight: normal;
	line-height: 140%;
	padding:10px 10px 0px 10px;
	margin-right:15px;
	margin-bottom: 45px;
}

.intro a,
.intro a:link,
.intro a:visited,
.intro a:active,
.intro a:hover {
	font-weight: normal;
	text-decoration: underline;
	color:#333;
}

.fortune {
	color: #555;
	font-family: palatino, Palatino Linotype, Book Antiqua, verdana, arial, sans-serif;
	font-weight: normal;
	font-style: italic;
	font-size: x-small;
	padding:2px 15px 2px 15px;
}
