html, body {
  height: 100%;
}

body {
  background-color: #b5bdc1;
  background-image: url(http://l.yimg.com/ycs.upcoming.yahoo.com/images/bg_gradient_8d9b626a384a5f76dcfadd5d2a472460.gif);
  background-repeat: repeat-x;
  background-attachment: scroll;
  background-x-position: left;
  background-y-position: top;
  color: #333333;
}

/** Body Wrapper **/
.wrapper {
  min-height: 100%;
  background-color: transparent;
  background-repeat: repeat;
  background-attachment: scroll;
  background-x-position: 0%;
  background-y-position: 0%;
  padding: 0px 3px 0px 3px;
  background-image: url(http://l.yimg.com/ycs.upcoming.yahoo.com/images/bg_glow_44cc2a97ca0917285db2bc6da28f71a7.png);
}

* html .wrapper {
  height: 100%;
}

/** Main **/
#bd {
 	font-size: 12px;
  width: 918px;
}

table {
	padding: 0px;
  margin: 0px;
  width: 100%;
	border-spacing: 0px;
	border-collapse: collapse; 
}

td {
	padding: 5px;
	background: #F5F5F5;
	font-size: 12px;
}

tr.header { font-weight: bold; border-bottom: 1px solid #D3D3D3; }
tr.inactive { color: #999; }
tr.even td, td.even { background: #fbfbfb; }
tr .selfpromotion {	background: #ccc; }
tr .personal { background: #fce9cf; }


tr.highlight td {
	background-color: #aef;
}

.tblTitle {
	font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 5px;
}

.title {
	font-size: 15px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 5px;
}

.content {
	padding: 15px 15px 40px 15px;
}


.content #event table {
  border: 0px;
}

#event td {
  background-color: transparent;
}

.content table.mymetros {
	width: auto;
}

.content table.mymetros td {
	padding-right: 30px;
}

.content table.mymetros a {
	color: #3a64c3;
}

#breadcrumb {
  margin-bottom: 10px;
}

.pager_place {
  font-size: 11px;
  padding-top: 10px;
  font-weight: bold;
}

/*** Search Form ***/
#searchForm {
  width: 740px;
  margin-top: 10px;
}

#searchForm h2 {
  font-size: 20px;
  margin-top: 0; padding-top: 0;
  color: #000;
}

#searchForm input {
  width: 300px;
  font-size: 14px;
}

#searchForm .submit {
	font-weight: bold;
  width: 60px;
}


p#psearchgo {
  margin: 0px;
  padding: 0px; 
}

input#searchgo {
  margin-top: -3px;
}

/*** Search Results ***/
.searchResults .thead {
	font-weight: bold;
}

.searchResults td {
	font-size: 12px;
}

.searchCount {
  color: #666;
	font-size: 15px;
	margin-top: 10px;
  margin-bottom: 16px;
}
	
#scopeTabs {
  width: 66%; 
  position: relative;
	margin: 0;
	padding-left: 0px;
  height: 26px;
}

#scopeTabs li {
	margin: 0; 
	padding: 0;
  display: inline;
  list-style-type: none;
}

#scopeTabs a:link, #scopeTabs a:visited {
  float: left;
  background: #E5E5E5;
  line-height: 14px;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border: 1px solid #ccc;
  border-bottom: none;
  text-decoration: none;
  color: #000;
}

#scopeTabs a:link.active, #scopeTabs a:visited.active {
	border-bottom: 1px solid #f3f3f3;
	background: #f3f3f3;
	color: #000;
}
	
#scopeTabs a:hover {
		background: #fff;
}

.pager {
  font-size: 12px;
}

.pager .pagenumber {
  border: 1px solid #ccc;
  padding: 3px 6px 3px 6px;
}

.pager .pagenumberActive {
  padding: 3px 6px 3px 6px;
}

.weekend {
	border-left: 2px solid #999;
}

/* Event filters */
#filterContainer {
  float: left;
  width: 125px;
  padding: 10px;
  margin-right: 20px;
  border: 1px solid #dfdfdf;
}

#filterContainer a:link,
#filterContainer a:visited {
  color: #4e47e2;
}

#filterContainer .title {
	font-size: 14px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
  color: #919191;
}

#filterContainer li {
  list-style: none;
  margin: 0px;
}

#filterContainer .active a:link,
#filterContainer .active a:visited {
  color: #000;
}

#filterContainer #pickDateLink {
  font-size: 11px;
}

.filterBox {
  margin-bottom: 20px;
}

/* Modal rectangle */
#modeBar {
  border: 1px solid #999;
  background-color: #f0f0f0; 
  height: 29px;
}

#modeBar .tabs div {
  border-right: 1px solid #999;
  float: left;
  text-align: center;
  white-space: nowrap;
	padding: 6px 15px 6px 15px;
	font-size: 14px;
}

#modeBar .tabs .last {
  border: none;
  font-size: 11px;
	text-align: right;
  float: right;
}

#modeBar .tabs .last a {
  text-decoration: underline;
}

#modeBar .tabs .active {
	background-color: #fff;
  color: #434343;
	font-weight: bold;
}

#modeBar .count {
  color: #9b9b9b;
  font-size: 10px;
  font-weight: normal;
}

#arrow {
  position: relative; 
  background:transparent url(http://l.yimg.com/ycs.upcoming.yahoo.com/images/arr_white_dc66c53dbebaee0a0e98d2665b7d8115.gif) top center no-repeat;
  top: -1px;
  padding: 0px;
  margin: 0px;
  width: 16px;
  height: 9px;
}

.a1 {
  left: 70px;
}

.a2 {
  left: 200px;
}

.tooltip {
  border: 1px solid #fce9cf;
  position: relative;
  background:#fbfbfb url(http://l.yimg.com/ycs.upcoming.yahoo.com/images/newbox.bg_5689439640da1923ebfb544b00093bd1.png) top left repeat-x;
  margin: 5px;
  padding: 10px;
}

.hi-visibility {
  border: 1px solid #9b9beb;
  background-color: #eef;
  font-weight: bold;
  position: relative;
  margin: 5;
  padding: 10px;
}

#tooltip b {
  font-size: 16px;
  color: #666;
}

.photos {
  float: right;
  padding-left: 20px;
  padding-bottom: 10px;
}

#add_photo_close_link {
  text-align: right;
}

/** Event Listings **/
.event-listing, .vcalendar {
  width: 100%;
}

/* xxx All Modules should use this */
.event-listing h2, #news h2 {
  color: #666;
  font-size: 18px;
  margin-bottom: 5px;
}

.event-listing table, .event-listing td, #news table, #news td { 
  border: none; 
  background: transparent;
}

.event-listing td {
  border-top: 1px solid #ccc;
  padding: 12px 0;
  vertical-align: top;
  font-size: 12px;
}

.event-listing td.noborder { border: none; }

.event-listing .date {
  padding-right: 12px;
  white-space: nowrap;
  font-size: 12px;
  color: #8c0000;
  text-align: right;
}

.event-listing .event-name {
  font-weight: bold;
  font-size: 14px;
}

.event-listing .event-attending {
  font-size: 11px;
  text-align: right;
  color: #f90
}

.event-listing .event-attending b {
  font-size: 20px;
}

#eventList {
  width: 745px; 
  margin: 0px 0px 0px 150px;
}

#eventList td {
  vertical-align: top;
  background-color: transparent;
}

#eventList .geooptions {
  color: #666; 
  font-size: 12px; 
  text-align: left;
  float: left;
}

#eventList .sortoptions strong {
  color: #666; 
}

#eventList .sortoptions .active {
  color: #000; 
  font-weight: bold;
}

#eventList .sortoptions {
  color: #999; 
  margin-bottom: 10px; 
  font-size: 12px; 
  text-align: right;
}

#eventList .sortoptions strong {
  color: #666; 
}

#eventList .sortoptions .active {
  color: #000; 
  font-weight: bold;
}

.eventListTitle {
  font-size: 24px;
  font-weight: bold;
  color: #4b4b4b;
}

#eventList td.date {
  width: 80px;
  padding: 8px 10px 0px 0px;
  font-size: 13px;
  color: #8c0000;
  text-align: right;
}

#eventList td.eventMetadata {
  width: 490px;
  padding: 8px 0px 8px 0px;
  border-top: 1px solid #ccc;
  overflow: hidden;
}

#eventList td.venue {
  width: 150px;
}


#eventList tr.highlight .eventrow {
  background: #f6f6f6;
}

#eventList .eventMetadata div.attendWidgetSrp,
#eventList td.date span.eventrowdate {
  visibility: hidden;
}

#eventList td.datechange span.eventrowdate {
  visibility: visible;
}

#eventList td.datechange {
  border-top: 1px solid #cccccc; 
}

/* hack for FF top border appearance on highlight */
#eventList td.nodatechange {
  border-top: 1px solid #fbfbfb; 
}  

/* according to spec, only border-bottom should work :(, but IE does what we want */
#eventList tr.highlight td.nodatechange,
#eventList tr.highlight td.datechange {
  border-top: 1px solid #cccccc; 
  border-bottom: 1px solid #cccccc; 
}

#eventList tr.highlight td.date span.eventrowdate, 
#eventList tr.highlight div.attendWidgetSrp {
  visibility: visible;
}



#eventList .eventName {
  font-weight: bold;
  padding-bottom: 2px;
}

#eventList .friendSummary {
	font-size: 11px; 
	color: #fd8300; 
	font-weight: bold;
  white-space: nowrap;
}

#eventList .high .eventName {
  font-size: 16px;
}

#eventList .medium .eventName {
  font-size: 14px; 
}

#eventList .low .eventName {
  font-size: 13px;
  font-weight: normal;
}

#eventList .description {
  width: 450px;
  color: #666;
  font-size: 11px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

#eventList .venue {
  padding-left: 10px;
  border-top: 1px solid #d2d2d2;
}

#eventList .venueRegion {
  font-size: 11px;
}

#eventList .categories {
  font-size: 11px;
  color: #aaa;
  font-weight: bold;
}

.heading {
	color: #565656;
	font-size: 18px;
  font-weight: bold;
}

.heading .small, .heading .small a {
	font-size: 12px;
	color: #3a64c3;
	font-weight: normal;
  text-transform: none;
}

#group .status {
	font-size: 14px;
}

#group .status a {
	font-weight: bold;
}

#groupHeader {
	background-color: #F5EEE1;
	border-top: 1px solid #ff9900;
	padding: 10px;
}

#groupHeader .name {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 5px;
}
        
#groupHeader .tools {
	font-weight: bold;
	font-size: 11px;
	width: 220px;
	padding-left: 10px;
	float: right;
}

#groupHeader .tools a {
	color: #0000ff;
}

#groupHeader .tool {
	padding-bottom: 5px;
}

#groupDescription {
	padding-top: 5px;
}

#groupDiscussion .heading {
	padding-top: 40px;
}

#groupDiscussion .options {
	font-weight: bold;
        padding: 7px 0;
}

#groupDiscussion #comments {
	padding-left: 30px;
}

#groupDiscussion .date {
	font-size: 11px;
	text-align: left;
	color: #666;
	padding-bottom: 10px;
}

#comments {
	width: 400px;
}

#comments a {
	font-weight: bold;	
}

#comments .heading {
	margin-bottom: 10px;
	border-bottom: 1px solid #CCC;
}

#comments img {
	max-width: 400px;
}

.byline {
	font-weight: bold;	
	padding-bottom: 10px;
}

.byline a {
	text-decoration: none;
}

.commentBody {
	padding-bottom: 2px;
}

.topic {
	padding-bottom: 10px;
}


#comments .date {
	font-size: 11px;
	color: #999;
	padding-bottom: 10px;
}

#comments .date a {
	color: #666;
	text-decoration: none;
}

#textAds {
	position: relative;
	margin: 4px 4px 4px 6px;
}

#docs .heading {
	padding-top: 20px;
	border-bottom: 1px solid;
}

#docs .description {
	padding: 20px;
	font-family: Courier New, Courier;
}

#docs .response {
	padding: 5px;
	background-color: #E7E7E7;
	border: 1px solid #ccc;
	font-family: Courier New, Courier;
}

div.docLinks, 
div.docToc {
        margin: 12px;
        padding: 4px;
	border: 1px solid #ff9900;
	background-color: #F5EEE1;
        float: right;
}

div.docLinks h1, div.docLinks h2, 
div.docToc h1, div.docToc h2 {
        margin: 0;
        padding: 0;
}

div.docLinks ul, div.docLinks ul li, 
div.docToc ul, div.docToc ul li {
        margin: 0;
        padding: 0;
        padding-left: 4px;
        list-style: none;
}

form {
	margin: 0px;
	padding: 0px;
}

.big {
}

.big .optional {
  margin-left: 20px;
}

.big .question {
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
}

.big .required .question {
  color: #ad0b0a;
}

.big .required .questionTip {
  color: #000;
}

.big .questionTip {
  font-weight: normal;
  font-size: 10px;
}

.big .optional .question {
  font-weight: bold;
  font-size: 12px;
  margin-top: 10px;
}

.big .picks {
  font-size: 12px;
  margin-left: 20px;
}

.big input, .big select {
  margin-left: 30px;
  margin-top: 8px;
}

.big input#preview_submit {
  margin-left: 0px;
  margin-top: 8px;
  font-size: 16px;
  font-weight: bold;
}


#editevent #rsvp_container, #addevent #rsvp_container {
  border: 1px solid #dcc57f;
  background-color: #fffdf6;
  padding: 0px 10px 10px 10px;
  margin: 10px;
  width: 400px;
}

#editevent #rsvp_container.inactive, #addevent #rsvp_container.inactive {
  color: #aaa;
}

form .button {
	font-weight: bold;
	font-size: 11px;
	padding: 1px;
}

form .submit {
	font-size: 11px;
  padding: 1px;
	font-weight: bold;
}

form .submitLink {
  font-weight: bold;
  font-size: 12px;
  color: #3a64c3;
  background-color: transparent;
  text-decoration: underline;
  padding: 0px;
  border: 0px;
  cursor: pointer;
  cursor: hand;
}

.required { 
  font-weight: bold;
}

.error { 
	font-weight: bold; 
	color: red; 
	font-size: 14px; 
  margin-bottom: 10px;
}

.error ul,.error li{
	padding: 0px;
	margin: 0 0 0 4px;
	list-style: none;
}

.status ul,.status li{
	padding: 0px;
	margin: 0 0 0 4px;
	list-style: none;
}
.statusSlideDown {
  margin: 0px 0;
  background-color: #E1F0F5; 
  border-bottom: 1px dashed #6BB300; 
  padding: 3px;
  font-size: 12px;
  font-weight: bold;
}
.statusSlideDown ul,.statusSlideDown li{
	padding: 0px;
	margin: 0 0 0 4px;
	list-style: none;
}

.info, .instructions, .status {
  margin: 4px 0;
  padding: 10px;
  border: 1px solid #fce9cf;
  background:#fbfbfb url(http://l.yimg.com/ycs.upcoming.yahoo.com/images/newbox.bg_5689439640da1923ebfb544b00093bd1.png) top left repeat-x;
  font-size: 14px;
}

.newbox  {
  border: 1px solid #fce9cf;
  position: relative;
  background:#fbfbfb url() top left repeat-x;
  margin: 20px 0;
  padding: 20px;
}

.bio {
  margin-bottom: 5px;
  border: 1px solid #fce9cf;
  position: relative;
  background:#fff url() top left repeat-x;
  padding: 10px;
}

.xml {
	border: 1px solid;
	border-color: #FC9 #630 #330 #F96;
	padding: 0px 4px 1px 4px;
	font: bold 10px verdana, helvetica, sans;
	color: #fff;
	background: #F60;
	text-decoration: none;
	margin: 0;
}

a.xml:link, a.xml:visited, a.xml:hover {
	color: #fff !important;
	text-decoration: none !important;
	background: #f60;
}

.new {
	font-family: verdana;
  font-size: 9px;
  font-weight: bold;
	color: #F60;
	text-decoration: none;
}

.button {
	border: 2px solid;
	border-color: #fff #666 #666 #fff;
	font: 10px verdana;
	padding: 3px;
	background: #ccc;
	text-decoration: none;
}

.button a {
	color: #000;
	text-decoration: none;
}

abbr {
  border-bottom: 0px solid black;
  text-decoration: none;
}

#tagList {
  margin-bottom: 10px;
}


.sillyList {
	font-weight: bold;
}

.sillyList .popTag {
  padding: 0 2px;
}

div.form_input {
  margin: 4px;
  padding: 0px;
}

div.form_input input {
  font-size: 14pt;
  width: 300px;
}
div.form_input input.required {
  font-size: 14pt;
  font-weight: bold;
  width: 300px;
}

textarea {
  font-size: 12px;
  width: 400px;
}

.form_input textarea {
  font-size: 10pt;
  width: 300px;
}

div.form_area {
  border: 2px solid gray;
  background-color: #ffefb5;
  margin: 4px;
  padding: 3px;
  font-size: 8pt;
  line-height: 10pt;
  width: 294px;
}

div.form_area div.areatitle {
  font-size: 10pt;
  line-height: 11pt;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  vertical-align: top;
}

input.bigbutton {
  font-weight: bold;
  font-size: 16pt;
}

/* Special form styles */

div.steps {
  margin-top: 30px;
  margin-bottom: 30px;
}

table.steps {
  border: 0px;
  padding: 0px;
  margin: 0px;
}

table.steps td {
  border: 4px solid #ccc;
  padding: 0px;
  margin: 0px;
  background-color: #fff;
}

table.steps table.step_active td{
  background-color: #fff;
}

table.steps td.inst {
  border-left: 0px;
  padding: 8px;
  margin: 4px;
}

table.steps td.num {
  border-right: 0px;
  font-size: 24px;
  font-weight: bold;
  padding: 8px;
  padding-top: 4px;
  margin: 4px;
}

table.steps table.step td.num {
  color: #aaa;
}

table.steps table.step td.inst {
  color: #aaa;
}


table.steps table.step_active td.num {
  color: #f33;
}


div.form ul.dotless li {
  list-style: none;
  padding: 4px;
  margin-bottom: 3px;

}

div.form ul.sublist {
  margin-top: 5px;
}

div.form ul.sublist li {
  background-color: #efefef;
}

div.form ul.sublist li.warn {
  background-color: #ffffce;
}


div.form table.sublist td{
  background-color: transparent;
}

#newimportant {
	background-color: #fff;
	border: 1px solid #D3D3D3;
	padding: 10px;
	margin-top: 10px;
}

#newimportant img {
	float: left;
	padding-right: 10px;
}

#pageexplain {
	background-color: #fff;
	border: 1px solid #D3D3D3;
	padding: 10px;
	margin-top: 10px;
        margin-bottom: 10px;
}


/** Live Search **/

div.auto_complete {
width: 350px;
background: #fff;
}
div.auto_complete ul {
border:1px solid #888;
margin:0;
padding:0;
width:100%;
      list-style-type:none;
}
div.auto_complete ul li {
margin:0;
padding:3px;
}
div.auto_complete ul li.selected { 
  background-color: #ffb; 
}
div.auto_complete ul strong.highlight { 
color: #800; 
margin:0;
padding:0;
}

/* Moderation Stuff */

.casehistory { font-size: 10px; border: 1px solid #66aa66; background-color: #dfe; padding: 4px; }
.casehistory .title { margin: 0; padding: 0;} 
.casehistory .case { margin-bottom: 6px; border-bottom: 1px dashed #333;}
.casehistory .closed { color: #666; } 
.casehistory .assigned { color: #939;}
.casehistory .description {padding-left: 3px; margin: 2px; border: 1px dashed #ccc; background-color: #eee;} 
.casehistory .byline { font-size: 9px; padding-left: 6px; }

/* Promo */
.promo {
	background-color: #F5EEE1;
	border-top: 1px solid #ff9900;
}

.promo p {
  margin: 0; padding: 10px;
	border-top: 1px solid #ff9900;
  text-align: right;
	background: #fbfbfb;
	background-color: #ededed; 
}

.promo a:hover img {
	background: #fbfbfb;
}

.promo img {
  border: 0;
}

/* Blog */
.blog {}
.blog .navigation { font-size: 14px; }
.blog .navigation .left { float: left; }
.blog .navigation .right { float: right; }
.blog .navigation .clear { clear: left; }

.blogtitle {
  float: left;
  text-align: center;
}

.blogtitle h1 {
  padding: 0;
  margin: 0;
}

.blogtitle .rss {
  font-size: 11px;
  font-weight: bold;
}

.blogtitle img {
  vertical-align: text-bottom;
}

.blogbody { 
  margin-left: 300px;
  margin-bottom: 20px;
  width: 550px; 
  font-size: 14px;
}

.blogbody p {
  line-height: 18px;
  margin-bottom: 18px;
}

.blogbody h3 {
  font-size: 18px;
  font-weight: bold;
}

.blogbody .byline {
  font-size: 12px;
}

.blog #comments, .blog #addcomments {
  margin-left: 300px;
}

/* Profile */
.profile {
}

.name {
  width: 600px;
  font-weight: bold;
  font-size: 24px;
}

.profile .full_name {
	font-weight: bold;
}

.profile .bio {
  width: 600px;
  border: 1px solid #fce9cf;
  background: #ffffff url(http://l.yimg.com/ycs.upcoming.yahoo.com/images/newbox.bg_5689439640da1923ebfb544b00093bd1.png) top left repeat-x;
  margin: 20px 0;
  padding: 20px;
}

.profile .bio .text { 
	margin: 4px 0 20px 0; 
	padding: 2px 0 0 0; 
	border-top: 1px dotted #bbb; 
}

.profile .bio .section_title {
	padding: 10px 0 0 0px;
	margin: 4px 0 0 0px;
	font-size: 9px;
	font-weight: bold;
}

.profile .user_controls .control img {
	vertical-align: top;
}
.profile .user_controls .control a:hover {
	text-decoration: none;
}

img.avatar {
	margin-right: 4px;
}

/* Flag */

.flag {
	margin: 15px 0px;
}

table.flag {
	margin: 0px;
	padding: 4px;
	width: 600px;
}

.flagNotice {
  margin:10px 0;
  padding:10px;
	border: 2px dotted #c33; 
	background-color: #faa; 
	width: 500px;
}

/* Notes */
div.activity_record div.tools a:hover {
	text-decoration: none; 
}

.block {
  width: 500px;
}

.activity_record {
  clear: both;
  font-size: 14px;
  display: block;
  margin-bottom: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid #ccc;
}

.activity_record .content {
  padding: 0px;
  font-size: 13px;
  color: #666;
  margin: 5px 5px 5px 35px;
}

.activity_record img {
  float: left;
  margin: 0px 5px 10px 0px;
}

.activity_record .ago {
  font-size: 11px;
  color: #666;
}

/* Group Discussions */

#addcomments {
  width: 400px;
}

#addcomments textarea {
  display: block;
	height: 120px;
	margin-bottom: 5px;
  font-size: 12px;
  padding: 3px;
  border: solid 1px #aaa;
  width: 400px;
}

#addcomments div.limit {
	float: right;
	text-align: right;
	font-size: 11px;
	color: #666;
}

/* Site Invites */
div.textarea_box {
	width: 400px;
}
div.textarea_box textarea {
	width: 400px;
	height: 80px;
	margin-bottom: 10px;
}
div.textarea_box div.limit {
	float: right;
	text-align: right;
	font-size: 11px;
	color: #666;
}
table#invitation_content {
	margin: 0px;
	padding: 5px;
	border: 0px solid black;
}
table#invitation_content td {
	background-color: transparent;
}
table#invitation_content td.heading {
	font-size: 16px;
	font-weight: bold;
}
div#mock_email {
	padding: 15px;
	border: 0px solid black;
	background-color: #eee;
}
div#mock_email span.label {
	font-weight: bold;
}
div#mock_email div.submit {
	padding: 15px;
	border-top: 1px dotted #ccc;
}

div.incomplete_invites ol, div.incomplete_invites li {
	font-size: 12px;
	margin-left: 30px;
}
div.incomplete_invite {
	margin-left: 5px;
}

div.accepted_invites ul, div.accepted_invites li {
	list-style: none;
	margin-left: 15px;
}
div.complete_invite {
	margin-left: 5px;
}
div.complete_invite img {
	padding: 0 5px;
}
div.accepted_invites div.complete_invite ul, div.accepted_invites div.complete_invite li {
	list-style: circle;
	margin-left: 15px;
}
/* Autocomplete styles */
/*.searchDiv {position:relative;width:500px;} /* set width of widget here*/
/*
.searchInput {position:relative;}
.yui-ac-content {position:relative;width:auto;bottom:1px;left:10px;border:1px solid #404040;background:#fff;font-size:12px;overflow:hidden;display:none;}
.yui-ac-content ul {position:relative;width:100%;padding:0px 0px 0px 0px;list-style:none;margin:4px;}
.yui-ac-content li {padding:0px;cursor:default;white-space:nowrap;display:list-item;margin:0px;border-bottom:1px solid #ccc;}
.yui-ac-content li.highlight {background:#ff0;}

.yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;} 
*/
#venue_selector {position:relative;}
#venue_selector #ac_box {white-space: nowrap;}
#venue_autocomplete {position:relative;width:30em;margin-bottom:1em;}/* set width of widget here*/
#venue_autocomplete {z-index:9000} /* for IE z-index of absolute divs inside relative divs issue */
#venueSearchInput {width:100%;height:1.4em;z-index:0;}
#venueSearchMatches {margin-left: 30px; position:absolute;top:2.0em;width:100%;padding:0px;}
#venueSearchMatches .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;padding:0px;}
#venueSearchMatches .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
#venueSearchMatches ul {margin:0;padding:0;width:100%;}
#venueSearchMatches li {margin:0;padding:2px 5px;cursor:default;white-space:nowrap;border-bottom:1px solid #ccc;}
#venueSearchMatches li.yui-ac-highlight {background:#ff0;}
#venueSearchMatches li.yui-ac-prehighlight {background:#FFFFCC;}

#metro_selector {position:relative;}
#metro_selector #metro_ac_box {white-space: nowrap;}
#metro_autocomplete {position:relative;width:30em;margin-bottom:1em;}/* set width of widget here*/
#metro_autocomplete {z-index:9000} /* for IE z-index of absolute divs inside relative divs issue */
#metroSearchInput {width:100%;height:1.4em;z-index:0;}
#metroSearchMatches {position:absolute;top:2.0em;width:100%;padding:0px;}
#metroSearchMatches .yui-ac-content {position:absolute;width:100%;border:1px solid #404040;background:#fff;overflow:hidden;z-index:9050;padding:0px;}
#metroSearchMatches .yui-ac-shadow {position:absolute;margin:.3em;width:100%;background:#a0a0a0;z-index:9049;}
#metroSearchMatches ul {margin:0;padding:0;width:100%;}
#metroSearchMatches li {margin:0;padding:2px 5px;cursor:default;white-space:nowrap;border-bottom:1px solid #ccc;}
#metroSearchMatches li.yui-ac-highlight {background:#ff0;}
#metroSearchMatches li.yui-ac-prehighlight {background:#FFFFCC;}

#performer_selector {position:relative;}
#performer_selector #performer_ac_box {white-space: nowrap;}
#performer_selector #chosenPerformers {margin-left: 30px; margin-top: 5px;}
#performer_autocomplete {position:relative;width:30em;margin-bottom:1em;}/* set width of widget here*/
#performer_autocomplete {z-index:9000} /* for IE z-index of absolute divs inside relative divs issue */

/*.yui-ac-shadow {position:absolute;width:100%;*width:auto;_width:100%;margin:.3em;z-index:5;background:#a0a0a0;padding:0;margin:0} /* bug 614383 workaround for ie7 */
.ysearchresult {font-size: 11px; font-weight: normal;}
.ysearchresult .resultname {font-weight: bold;}
.ysearchresult .address {font-size: 10px;}
.ysearchresult .rest {font-size: 10px;}

.venue_locked {margin-left: 25px;margin-top:5px;}

.calcontainer { position: absolute; display: none; }

#container1 table, #container2 table {
  width: auto;
}
#filterCalContainer table {
  width: auto;
}
.calcontainer table {
	padding: 0px;
  margin: 0px;
  width: auto;
	border-spacing: 0px;
	border-collapse: separate; 
	border: 1px solid #D3D3D3;
}

.calcontainer table th {
  font-size: 11px;
}

.calcontainer table td {
  font-size: 11px;
  padding: 2px;
}

.calcontainer table td a:hover {
  background-color: transparent;
}

/* Filter Styles */
li.active {
	font-weight: bold;
}

.hidden_detail {
	display: none;
}
.discovered_note {
	font-weight: bold;
}
.container_rollover_reveal {
	display: none;
}
.listing_grabbable {
	cursor:pointer; cursor:hand;
}

/** Admin **/
.admin_controls, .adminToolbar {
  margin:10px;
  padding:10px;
	border: 2px dotted #c33; 
	background-color: #faa; 
	width: 200px;
}

.profile .admin_controls .section_title {
	font-size: 12px;
	font-weight: bold;
}


/*** Page Specific ***/

/** Front Page **/

/* Layout */
#frontpage-global {
  float: right;
  width: 350px;
}

#frontpage-nearby {
  width: 530px;
}


/* Featured */
#featured {
  font-size: 24px;
  line-height: 32px;
  color: #666;
}

#featured p { margin: 0; padding: 0 0 12px 0; }
#featured .highlight { color: #f90; }

/** Groups **/
#group-container { 
  width: 100%; 
  position: relative; 
}

#group-container #col1 { 
  float: left; 
  width: 49%; 
  padding-right: 1%; 
}

#group-container #col2 { 
  float: left; 
  width: 49%; 
  padding-left: 1%; 
}

#groupDescription #modlist {
  font-weight: bold;
  font-size: 1em;
color: #0000ff;
  margin: 5px 0;
}
/* Groups moderation */
div.confirmation {
	margin: 4px;
	padding: 8px;
	border: 1px solid #ff9900;
	background-color: #F5EEE1;
}

.moderation .actions td {
	background-color: #EEE;	
	padding: 1px;
}
.moderation .actions input {
	display: inline;
	padding: 0;
	margin: 0;
}
.moderation .actions_bottom td {
	background-color: #EEE;	
	padding: 1px;
}
.moderation .actions_bottom input {
	display: inline;
	padding: 0;
	margin: 0;
}

.moderation .mod_cell {
	padding: 3px;
	margin: 0;
}

/** Photo Detail **/

#photo h1 {
  font-size: 24px;
  color: #333;
  padding: 0;
  margin: 0 10px 5px 0;
}

#photo .view {
  font-size: 12px;
}

#view .edit img {
  padding-left: 15px;
  white-space: nowrap;
}

#view .edit {
  font-size: 12px;
}

#photo #photoMain {
  width: 610px;
  float: left;
}

#photo #photoMain .eventData em {
  font-weight: bold;
}

#photo #photoMain #photoUploadedBy {
  font-size: 11px;
}

#photo #photoSidebar {
  width: 275px;
  border-left:1px solid #999;
  margin-left: 615px;
  background: #F2F2F2;
  padding:1em;
}

#photo #photoSidebar .photo { display:inline; }

#photo #photoSidebar .photo img {
  border: 1px solid #333; 
  display: inline;
  margin-right: 10px;
  margin-bottom: 10px;
}


/** Event Detail **/

/* Layout */

#event #eventMain {
  width: 620px;
  float: left;
  border-right: 1px solid #ccc;
}

#performer #performerMain {
  width: 600px;
  float: left;
  border-right: 1px solid #ccc;
}


/* Main Info */

#event h1 {
  font-size: 24px;
  color: #333;
  padding: 0;
  margin: 0 10px 5px 0;
}

#event .edit img, #performer .edit img {
  padding-left: 15px;
  white-space: nowrap;
}

#event .edit, #performer .edit {
  font-size: 12px;
}

#eventMetadata {
  width: 600px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #f2f2f2;
}

#eventMetadata .date {
  font-size: 14px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}

#eventMetadata .time {
  font-size: 12px;
}

#eventMetadata .category, #eventMetadata .homepage, #eventMetadata .performers, #performerMetadata .homepage {
  color: #3a3a3a;
  padding-bottom: 18px;
}

#eventMain .description, #performerMain .description {
  font-family: verdana;
  padding: 0px 30px 10px 0px;
  line-height: 1.4em;
  overflow: hidden;
}

#performerMain .description p {
  margin-bottom: 0.5em;
}

#eventMain .linked_by, #eventMain .linked_by a, #performerMain .linked_by, #performerMain .linked_by a {
  color: #a0a0a0;
}

#eventMain .byline {
  position: relative;
  color: #696969;
  font-size: 12px;
}

#event .mapping {
  position: relative;
  color: #696969;
  font-size: 12px;
  padding-top: 10px;
}

#event .directions {
  font-size: 10px;
}

#event .fn {
  font-size: 14px;
  font-weight: bold;
  padding-bottom: 5px;
}

#event .fn a {
  text-decoration: underline;
}

#event .venue {
  padding-bottom: 14px;
}

#event .additionalInfo {
  float: right;
}

#event .map {
  width: 180px;
  float: right;
}

#event #officialPhotos { border: 1px solid #333; }
#event #officialPhotos img { display:block; }

#event #mapContainer {
  border: 1px solid #bccacf;
}

#event .directions {
  font-size: 10px;
}

#event .venueRelated, #event .eventRelated {
  padding: 0px 0px 8px 0px;
}

.eventRelated td, .venueRelated td {
  font-size: 11px;
  padding: 6px 0px 6px 0px;
  border-bottom: 1px solid #ccc;
  margin: 0px;
}

.eventTally {
  float: right;
  font-weight: bold;
  text-align: center;
}

#eventAttendance label {
  margin: 10px;
}

td.eventrow {
  height: auto;
}

td.eventrow .userlist {
  float: left;
  margin-top: 3px;
}

td.eventrow .userlistcontent {
  padding-top: 10px;
  height: 16px;
  width: auto;
  border: 1px solid red;
}



span.watchlistedByMe {
  color: #ff9900;
}



/* ------ SRP ------------------ */

.attendWidgetSrp .warning {
  color: #8c0000;
  display: none;
  float: right;
}

.attendWidgetSrp div.warningOn {
  display: block;
}

div.busyOn {
  background: url(http://l.yimg.com/ycs.upcoming.yahoo.com/images/indicator_03ce3dcc84af110e9da8699a841e5200.gif) no-repeat;
}


.attendWidgetSrp {
  width: 200px;
  height: 23px;
  margin-top: 3px;
  margin-bottom: 3px;
}

.attendWidgetSrp div.watchlistStatuses {
  float: left; 
  margin-bottom: 0px;
  padding-bottom: 0px;
}


.attendWidgetSrp div.watchlistStatuses div {
  width: 100px;
  height: 23px;
  line-height: 23px;
  vertical-align: middle;
  text-align: center; 
  font-family: helvetica, arial, sans;
  font-size: 12px;
  font-weight: bold;
  background: url(http://l.yimg.com/ycs.upcoming.yahoo.com/images/aw_srp_c9371e1cbfb1e765b277687c0a56c206.png);  
  background-repeat: no-repeat; 
  margin: 0px; 
  padding: 0px;
  border: 0px;
  float: left;
}



.attendWidgetSrp div.watchlistStatuses div.attendOn {
  background-position: 0px -46px;
  cursor: pointer;
  text-align: left;
  color: #f45803;
  padding-left: 18px;
  width: 82px; 
}

.attendWidgetSrp div.watchlistStatuses div.watchOn {
  background-position: -100px -46px;
  cursor: pointer;
  text-align: left;
  color: #53a0fc;
  padding-left: 18px;
  width: 82px; 
}

.attendWidgetSrp div.watchlistStatuses div.attendOff,
.attendWidgetSrp div.watchlistStatuses div.attendDisabled,
.attendWidgetSrp div.watchlistStatuses div.watchOff,
.attendWidgetSrp div.watchlistStatuses div.watchDisabled {
  display: none;
}


.attendWidgetSrp div.watchlistStatuses div.watchDisabled img {
  margin-top: 3px;
}

.attendWidgetSrp div.watchlistStatuses div.attendDisabled img {
  margin-top: 3px;
}

tr.highlight .attendWidgetSrp div.watchlistStatuses div.attendDisabled {
  display: block;
  background-position: 0px 0px;
  color: #bababa;
}

tr.highlight .attendWidgetSrp div.watchlistStatuses div.attendOff {
  display: block;
  background-position: 0px 0px; 
  cursor: pointer;
  color: #f45803;
}

tr.highlight .attendWidgetSrp div.watchlistStatuses div.attendOffHighlight {
  display: block;
  background-position: 0px 0px;
  cursor: pointer;
  color: #f45803;
  text-decoration: underline;
}

tr.highlight .attendWidgetSrp div.watchlistStatuses div.attendOn {
  display: block;
  background-position: 0px -23px; 
  cursor: pointer;
  text-align: left; 
  color: #f45803;
  padding-left: 22px; 
  width: 78px; 
}

tr.highlight .attendWidgetSrp div.watchlistStatuses div.watchDisabled {
  display: block;
  background-position: -100px 0px; 
  color: #bababa;
}

tr.highlight .attendWidgetSrp div.watchlistStatuses div.watchOff {
  display: block;
  background-position: -100px 0px;
  cursor: pointer;
  color: #53a0fc;
}

tr.highlight .attendWidgetSrp div.watchlistStatuses div.watchOffHighlight {
  display: block;
  background-position: -100px 0px;
  cursor: pointer;
  color: #53a0fc;
  text-decoration: underline;
}

tr.highlight .attendWidgetSrp div.watchlistStatuses div.watchOn {
  display: block;
  background-position: -100px -23px;
  cursor: pointer;
  text-align: left; 
  color: #53a0fc;
  padding-left: 22px; 
  width: 78px; 
}



/* ------ EVENT DETAILS ATTEND WIDGET ------- */

.eventSidebarTitle {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  padding-bottom: 5px;
  color: #666;
}


.attendWidget {
  width: 272px;
  margin-bottom: 10px;
}


.attendWidget div.watchlistStatuses button {
  width: 136px;
  height: 62px;
  line-height: 62px;
  vertical-align: middle;
  text-align: center; 
  font-family: helvetica, arial, sans;
  font-size: 16px;
  font-weight: bold;
  background-repeat: no-repeat; 
  background: url(http://l.yimg.com/ycs.upcoming.yahoo.com/images/aw_ea8a5fb94cc29937aacfd2e20b625d02.png); 
  margin: 0px; 
  padding: 0px;
  border: 0px;
  float: left;
}

.attendTitle { color: #f45803 }
.watchTitle { color: #53a0fc } 

.attendWidget div.watchlistStatuses button.attendDisabled {
  background-position: 0px 0px;
  color: #bababa;
}

.attendWidget div.watchlistStatuses button.attendOff {
  background-position: 0px 0px;
  cursor: pointer;
  color: #f45803;
}

.attendWidget div.watchlistStatuses button.attendOffHighlight {
  background-position: 0px -62px;
  cursor: pointer;
  color: #f45803;
  text-decoration: underline;
}


.attendWidget div.watchlistStatuses button.attendOn {
  background-position: 0px -124px;
  cursor: pointer;
  color: #fff;
}

.attendWidget div.watchlistStatuses button.watchOff {
  background-position: -136px 0px;
  cursor: pointer;
  color: #53a0fc;
}

.attendWidget div.watchlistStatuses button.watchDisabled {
  background-position: -136px 0px;
  color: #bababa;
}

.attendWidget div.watchlistStatuses button.watchOffHighlight {
  background-position: -136px -62px;
  cursor: pointer;
  color: #53a0fc;
  text-decoration: underline;
}

.attendWidget div.watchlistStatuses button.watchOn {
  background-position: -136px -124px;
  cursor: pointer;
  color: #fff;
}


div.guestCount {
  margin-top: 3px;
  margin-bottom: 20px;
}


/* may have to make this more specific to the event details page */
div.eventSidebar #userlist {
  margin-top: 100px;
  margin-bottom: 10px;
  width: 278px;
}

#userlistExpand {
  border-top: 1px solid #ccc;
  margin-top: 5px;
  text-align: right;
  clear: both;
}

#userlistExpandBusy {
  float: right;
  padding-right: 4px;
}

#userlistExpand .tab {
  float: right;
  padding: 0px 8px 2px 8px;
  color: #666;
}

div.eventSidebar .userlist .title {
  padding-top: 5px;
}

#userlistAttend, #userlistWatch {
  overflow: hidden;
  width: 136px;
  white-space: nowrap;
}

#userlistAttend {
  float: left; 
}

#eventSidebar .guest {
  font-weight: bold;
  margin: 0px 2px 0px 2px;
  color: #fe8200;
}

#eventSidebar {
  width: 280px;
  margin-top: 0px;
  margin-left: 10px;
  float: left;
}

#performerSidebar {
  width: 298px;
  margin-left: 614px;
  margin-top: 20px;
}

.insetTitle {
  font-size: 16px;
  color: #666;
  padding-top: 12px;
  padding-bottom: 4px;
}


#eventToolbar {
  margin-top: 18px;
  margin-bottom: 12px;
  font-size: 12px;
  font-weight: bold;
  clear: right; 
}

#eventToolbar div {
  margin-bottom: 6px;
}


#eventTags {
  margin-bottom: 15px;
}

#eventGroups ul {
  padding: 0;
  margin: 0;
}

#eventGroups li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#eventTags a {
  font-size: 12px;
}

#eventComments {
  margin: 30px 0 0 0;
  width:100%;
  float:left;
  clear:both;
}

#eventComments #addcomments .heading {
  font-size: 14px;
  padding-bottom: 5px;
}

.comment {
  margin: 0px 0px 15px 60px;
  width: 350px;
}

.commentBody {
  font-family: verdana;
}

div.bylineReport {
  width: 620px; /* #eventMetadata width incl. padding */
}

.byline {
  color: #666;
  font-weight: normal;
  font-size: 12px;
  padding-bottom: 5px;
}

div.bylineReport .byline {
  float: left;
}

div.bylineReport .reportProblem {
  float: right;
  padding-right: 10px;
}

.byline a {
  font-weight: bold;
}

.date {
  color: #999;
  font-weight: normal;
  font-size: 10px;
}

#eventPhotos {
  margin: 0 0 10px 15px;
  padding-right: 5px;
  width: 170px;
  float: right;
}

#photo_container {
  width:100%;
  margin:0;
  padding:0;
  float:right;
}

#eventPhotos .photo {
  float:left;
  margin-bottom: 8px;
  padding-right: 8px;
}

#eventPhotos .photo img { border: 1px solid #000; }

#eventMain .heading {
  padding-bottom: 10px;
}

#event .small, #performer .small {
  font-size: 10px;
  text-transform: uppercase;
  color: #666;
}

#event .rsvpTools {
  border: 1px solid #dcc57f;
  background-color: #fffdf6;
  padding: 0px 10px 10px 10px;
  width: 400px;
}

/* Venue */

#venue .fn, #performer .n {
  font-size: 24px;
  font-weight: bold;
}

#venue .map {
  border: 1px solid #bccacf;
  width: 230px;
  margin: 10px 0px 0px 0px;
}

#venue .directions {
  font-size: 10px;
}

/* Places */

#place h4 a {
  color: #FF9900;
}

#place small a {
  font-size: 11px;
  color: #3A64C3;
}

#place-topevents {
  margin-bottom: 30px;
}

#place td {
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}

#place .event-title {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 2px;
}

#place-topvenues {
  font-size: 13px;
}

#place-topvenues .venuefirst {
  font-size: 14px;
  font-weight: bold;
}

#place-featuredusers {
  text-align: center;
}

#place-featuredusers .user {
  float: left;
  display: block;
  margin-bottom: 5px;
  padding: 2px;
  width: 100px;
}

#place-featuredusers .username {
  font-size: 13px;
  overflow: hidden;
}

form .placeSearch {
  border: 1px solid;
}

/* Upload Photo Popup - Event & Photo pages */
#add_photo_container li {width:100%; clear:both;}
#add_photo_container p {margin-top:1em; font-weight:bold;}
#add_photo_container #add_photo_close_link {display:block; text-align:right; font-size:93%;}
#add_photo_container #up-evt-photoup-signin {display:block; text-align:center; margin:1em 0 1em 0; font-weight:bold;}
#add_photo_container label {display:block; margin:0.7em 0 0.1em; font-weight:bold;}
#add_photo_container form #caption {width:210px;}
#add_photo_container form #add_photo_official_label {float:left;}
#add_photo_container #add_photo_official {height:20px; width:20px; margin-top:6px; margin-left:2px;}
#add_photo_container form #up-evt-photoup-btn {float:right; clear:both; margin:1em 0.5em 1em 0;}
#add_photo_container #up-evt-photoup-flickr {border-top:1px solid #999; margin-top:1em;}
#add_photo_container #up-evt-photoup-flickr-tag {width:150px;}
#add_photo_container #up-evt-photoup-flickr-note {font-size:93%; font-weight:normal;}

/* Styling for Flickr logo where ever it may roam */
.up-flickr-logo {font-weight:bold; color:#0063DC;}
.up-flickr-logo strong {color:#DD007B;}

/* Performer */
.performers {clear:both;}
#performer_list li {float:left;width:80px;text-align:center;padding: 5px 8px 5px 0;}
#performer_list img {display:block;width:80px;height:80px;}
#performer_list li a img:hover {text-decoration:none;}
