	html{
		width:100%;
		height:100%;
		margin:0px;
		padding:0px;		
	}
	body{
		width:100%;
		height:100%;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
		margin:0px;
		padding:0px;
	}
	a{
		color:#FF0000;
		text-decoration:none;
		padding:10px;
	}
	.card{
		width:70px;
		height:100px;		
		background-color:#FFF;
		padding-top:0px;	
		padding-left:0px;	
		position:absolute;
		left:0px;
		top:0px;
		overflow:visible;
		
	}
	
	#bg_deck{
		width:250px;
		height:150px;
		position:absolute;
		left:20px;
		top:20px;	
	}
	#bg_deck_inner{
		width:70px;
		height:100px;
		left:30px;
		top:22px;
		position:absolute;
		border:1px dotted #CCC;
	}
	#bg_deck_shown{
		width:90px;
		height:100px;
		left:120px;
		top:22px;
		position:absolute;
		border:1px dotted #CCC;
	}
	#bg_deck_shown div div{
		margin-left:15px;
	}
	#bg_deck_shown div div div{
		margin-left:30px;
	}
	#bg_aces{
		background-image:url('images/bg_aces1.gif');
		width:450px;
		height:150px;
		position:absolute;
		left:310px;
		top:20px;	
	}
	 
	#bg_seven{
		/* background-image:url('images/bg_seven1.gif'); */
		width:750px;
		height:150px;
		position:absolute;
		left:15px;
		top:210px;		
	}
	#movingCardContainer{
		position:absolute;
	}